<div class="container">

    <div class="card">
        <div class="card-header">
            <h2>Customers</h2>
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Date of Birth</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers" (click)="selectCustomer(customer)">
                        <td>{{customer.id}}</td>
                        <td>{{customer.firstName}}</td>
                        <td>{{customer.lastName}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.dateOfBirth | date:'shortDate'}}</td>
                        <td>{{customer.phoneNumber}}</td>
                        <td>
                            <button class="btn btn-primary">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card" *ngIf="selectedCustomer">
        <div class="card-header">
            <h3>Edit Customer</h3>
        </div>

        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>First Name</label>
                    <input class="form-control" [(ngModel)]="selectedCustomer.firstName" name="firstName">
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" [(ngModel)]="selectedCustomer.lastName" name="lastName">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" [(ngModel)]="selectedCustomer.email" name="email">
                </div>

                <div class="form-group">
                    <label>DOB</label>
                    <input class="form-control" [(ngModel)]="selectedCustomer.dateOfBirth" name="dateOfBirth" />
                </div>

                <div class="form-group">
                    <label>Phone</label>
                    <input class="form-control" [(ngModel)]="selectedCustomer.phoneNumber" name="phoneNumber" />
                </div>

               

                <!-- other fields -->

                 <button type="button" (click)="updateCustomer()">Update</button>
                 <button type="button" (click)="deleteCustomer()">Delete</button>
            </form>
        </div>
    </div>

    <button class="btn btn-success" (click)="toggleForm()" >Add New Customer</button>
    <div *ngIf="showForm" class="card mt-4">
        <div class="card-header">
          <h5 class="card-title">Customer Form</h5>
        </div>

        <div class="card-body" >
            <form  >
                <div class="form-group">
                    <label >Id</label>
                    <input  class="form-control" [(ngModel)]="newCustomer.id" name="id">
                </div>

                <div class="form-group">
                    <label >First Name</label>
                    <input  class="form-control" [(ngModel)]="newCustomer.firstName" name="firstName">
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" [(ngModel)]="newCustomer.lastName" name="lastName">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" [(ngModel)]="newCustomer.email" name="email">
                </div>

                <div class="form-group">
                    <label>DOB</label>
                    <input class="form-control" [(ngModel)]="newCustomer.dateOfBirth" name="dateOfBirth" />
                </div>

                <div class="form-group">
                    <label>Phone</label>
                    <input class="form-control" [(ngModel)]="newCustomer.phoneNumber" name="phoneNumber" />
                </div>
                <!-- other fields -->

                <button type="submit" class="btn btn-primary"(click)="createCustomer()"  (click)="toggleForm()" >Save</button>
            </form>
        </div>
    </div>

</div>




<!-- 
 <div>
    <h2>Customers</h2>
    <ul>
      <li *ngFor="let customer of customers" (click)="selectCustomer(customer)">
        {{ customer.firstName }} {{ customer.lastName }}
      </li>
    </ul>
  
    <div *ngIf="selectedCustomer">
      <h3>Edit Customer</h3>
      <form>
        <label>First Name:</label>
        <input [(ngModel)]="selectedCustomer.firstName" name="firstName" />
  
        <label>Last Name:</label>
        <input [(ngModel)]="selectedCustomer.lastName" name="lastName" />
  
        <label>Email:</label>
        <input [(ngModel)]="selectedCustomer.email" name="email" />
  
        <label>Date of Birth:</label>
        <input [(ngModel)]="selectedCustomer.dateOfBirth" type ="data" name="dateOfBirth" />
  
        <label>Phone Number:</label>
        <input [(ngModel)]="selectedCustomer.phoneNumber" name="phoneNumber" />
  
        <button type="button" (click)="updateCustomer()">Update</button>
        <button type="button" (click)="deleteCustomer()">Delete</button>
      </form>
    </div>
  
    <div>
      <h3>Add New Customer</h3>
      <form>
        <label>First Name:</label>
        <input [(ngModel)]="newCustomer.firstName" name="firstName" />
  
        <label>Last Name:</label>
        <input [(ngModel)]="newCustomer.lastName" name="lastName" />
  
        <label>Email:</label>
        <input [(ngModel)]="newCustomer.email" name="email" />
  
        <label>Date of Birth:</label>
        <input [(ngModel)]="newCustomer.dateOfBirth" name="dateOfBirth" />
  
        <label>Phone Number:</label>
        <input [(ngModel)]="newCustomer.phoneNumber" name="phoneNumber" />
  
        <button type="button" (click)="createCustomer()">Create</button>
      </form>
    </div>
  </div> -->